USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dich_Vu]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dich_Vu](
	[MaDichVu] [nvarchar](255) NOT NULL,
	[TenDichVu] [nvarchar](255) NULL,
	[GiaDichVu] [real] NOT NULL,
 CONSTRAINT [PK__Dich_Vu__C0E6DE8FC72B2A69] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoa_Don]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_Don](
	[MaHoaDon] [nvarchar](255) NOT NULL,
	[NgayIn] [datetime] NULL,
	[TongTien] [real] NOT NULL,
	[MaOrderPhong] [nvarchar](255) NULL,
 CONSTRAINT [PK__Hoa_Don__835ED13B118615AA] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khach_Hang]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach_Hang](
	[KhachHang_ID] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Khach_Hang] PRIMARY KEY CLUSTERED 
(
	[KhachHang_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_Phong]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_Phong](
	[MaLoaiPhong] [nvarchar](255) NOT NULL,
	[TenLoaiPhong] [nvarchar](255) NULL,
	[GiaPhong] [real] NOT NULL,
 CONSTRAINT [PK__Loai_Pho__23021217A48C92C2] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_Tai_Khoan]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_Tai_Khoan](
	[MaLoaiTaiKhoan] [nvarchar](255) NOT NULL,
	[TenLoai] [nvarchar](255) NULL,
 CONSTRAINT [PK__Loai_Tai__5F6E141C07C4DC2B] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhan_Vien]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhan_Vien](
	[NhanVienID] [nvarchar](255) NOT NULL,
	[MaVaiTro] [nvarchar](255) NULL,
	[NgayDuocTuyen] [datetime] NULL,
 CONSTRAINT [PK_Nhan_Vien] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Phong]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Phong](
	[MaOrderPhong] [nvarchar](255) NOT NULL,
	[NgayDen] [datetime] NULL,
	[NgayDi] [datetime] NULL,
	[PersonID] [nvarchar](255) NULL,
	[MaPhong] [nvarchar](255) NULL,
	[TrangThaiThanhToan] [int] NOT NULL,
 CONSTRAINT [PK__Order_Ph__829E7C7605A5F40A] PRIMARY KEY CLUSTERED 
(
	[MaOrderPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Phong_Dich_Vu]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Phong_Dich_Vu](
	[MaOrderPhong] [nvarchar](255) NOT NULL,
	[MaDichVu] [nvarchar](255) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [real] NULL,
 CONSTRAINT [PK__Order_Ph__6E90119E9EC16A77] PRIMARY KEY CLUSTERED 
(
	[MaOrderPhong] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[Tuoi] [int] NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[CCCD] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [nvarchar](255) NOT NULL,
	[TenPhong] [nvarchar](255) NULL,
	[MoTaPhong] [nvarchar](255) NULL,
	[MaTrangThai] [nvarchar](255) NULL,
	[MaLoaiPhong] [nvarchar](255) NULL,
 CONSTRAINT [PK__Phong__20BD5E5B177E3D28] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tai_Khoan]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tai_Khoan](
	[MaTaiKhoan] [nvarchar](255) NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[LoaiTaiKhoan] [nvarchar](255) NULL,
	[PersonID] [nvarchar](255) NULL,
 CONSTRAINT [PK__Tai_Khoa__AD7C6529EF10FB2D] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trang_Thai_Phong]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trang_Thai_Phong](
	[MaTrangThai] [nvarchar](255) NOT NULL,
	[TenTrangThai] [nvarchar](255) NULL,
 CONSTRAINT [PK__Trang_Th__AADE41383344BB34] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vai_Tro]    Script Date: 7/26/2025 4:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vai_Tro](
	[MaVaiTro] [nvarchar](255) NOT NULL,
	[TenVaiTro] [nvarchar](255) NULL,
 CONSTRAINT [PK__Vai_Tro__C24C41CFA446BD32] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231116114016_second', N'6.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231116155141_third', N'6.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231117091118_fourth', N'6.0.24')
GO
INSERT [dbo].[Dich_Vu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (N'DV1', N'Pepsi', 10000)
INSERT [dbo].[Dich_Vu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (N'DV2', N'Coca', 10000)
INSERT [dbo].[Dich_Vu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (N'DV3', N'Sting', 10000)
GO
INSERT [dbo].[Hoa_Don] ([MaHoaDon], [NgayIn], [TongTien], [MaOrderPhong]) VALUES (N'HD1', CAST(N'2025-07-26T10:36:47.037' AS DateTime), 300000, N'MOP1')
GO
INSERT [dbo].[Khach_Hang] ([KhachHang_ID]) VALUES (N'044202876392')
GO
INSERT [dbo].[Loai_Phong] ([MaLoaiPhong], [TenLoaiPhong], [GiaPhong]) VALUES (N'MLP1', N'Phòng đơn', 150000)
INSERT [dbo].[Loai_Phong] ([MaLoaiPhong], [TenLoaiPhong], [GiaPhong]) VALUES (N'MLP2', N'Phòng đôi', 280000)
INSERT [dbo].[Loai_Phong] ([MaLoaiPhong], [TenLoaiPhong], [GiaPhong]) VALUES (N'MLP3', N'Phòng gia đình', 480000)
GO
INSERT [dbo].[Loai_Tai_Khoan] ([MaLoaiTaiKhoan], [TenLoai]) VALUES (N'LTK1', N'admin')
INSERT [dbo].[Loai_Tai_Khoan] ([MaLoaiTaiKhoan], [TenLoai]) VALUES (N'LTK2', N'nhân viên')
INSERT [dbo].[Loai_Tai_Khoan] ([MaLoaiTaiKhoan], [TenLoai]) VALUES (N'LTK3', N'khách hàng')
GO
INSERT [dbo].[Nhan_Vien] ([NhanVienID], [MaVaiTro], [NgayDuocTuyen]) VALUES (N'NV1', N'MVT2', CAST(N'2023-11-16T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Order_Phong] ([MaOrderPhong], [NgayDen], [NgayDi], [PersonID], [MaPhong], [TrangThaiThanhToan]) VALUES (N'MOP1', CAST(N'2025-07-26T00:00:00.000' AS DateTime), CAST(N'2025-07-28T00:00:00.000' AS DateTime), N'044202876392', N'P1', 1)
GO
INSERT [dbo].[Person] ([PersonID], [HoTen], [Tuoi], [GioiTinh], [NgaySinh], [DiaChi], [CCCD], [SDT]) VALUES (N'044202876392', N'Trần tuấn', 30, 0, NULL, NULL, NULL, N'0836285628')
INSERT [dbo].[Person] ([PersonID], [HoTen], [Tuoi], [GioiTinh], [NgaySinh], [DiaChi], [CCCD], [SDT]) VALUES (N'NV1', N'No name', 21, 0, CAST(N'2002-01-20' AS Date), N'HN', N'9038412343', N'0913412342')
GO
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MoTaPhong], [MaTrangThai], [MaLoaiPhong]) VALUES (N'P1', N'P101', N'rẻ', N'MTT1', N'MLP1')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MoTaPhong], [MaTrangThai], [MaLoaiPhong]) VALUES (N'P10', N'P402', N'rẻ', N'MTT1', N'MLP4')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MoTaPhong], [MaTrangThai], [MaLoaiPhong]) VALUES (N'P11', N'P403', N'rẻ', N'MTT1', N'MLP4')
GO
INSERT [dbo].[Tai_Khoan] ([MaTaiKhoan], [UserName], [Password], [LoaiTaiKhoan], [PersonID]) VALUES (N'TK1', N'admin', N'1', N'LTK1', N'NV1')
INSERT [dbo].[Tai_Khoan] ([MaTaiKhoan], [UserName], [Password], [LoaiTaiKhoan], [PersonID]) VALUES (N'TK2', N'trantuan0787@outlook.com.vn', N'123Aa!', N'LTK3', N'044202876392')
GO
INSERT [dbo].[Trang_Thai_Phong] ([MaTrangThai], [TenTrangThai]) VALUES (N'MTT1', N'Trống')
INSERT [dbo].[Trang_Thai_Phong] ([MaTrangThai], [TenTrangThai]) VALUES (N'MTT2', N'Đang thuê')
INSERT [dbo].[Trang_Thai_Phong] ([MaTrangThai], [TenTrangThai]) VALUES (N'MTT3', N'Đã đặt trước')
GO
INSERT [dbo].[Vai_Tro] ([MaVaiTro], [TenVaiTro]) VALUES (N'MVT1', N'quản lý')
INSERT [dbo].[Vai_Tro] ([MaVaiTro], [TenVaiTro]) VALUES (N'MVT2', N'nhân viên')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Hoa_Don_MaOrderPhong]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Hoa_Don_MaOrderPhong] ON [dbo].[Hoa_Don]
(
	[MaOrderPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Nhan_Vien_MaVaiTro]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Nhan_Vien_MaVaiTro] ON [dbo].[Nhan_Vien]
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_Phong_MaPhong]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Phong_MaPhong] ON [dbo].[Order_Phong]
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_Phong_PersonID]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Phong_PersonID] ON [dbo].[Order_Phong]
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Order_Phong_Dich_Vu_MaDichVu]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Phong_Dich_Vu_MaDichVu] ON [dbo].[Order_Phong_Dich_Vu]
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Phong_MaLoaiPhong]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phong_MaLoaiPhong] ON [dbo].[Phong]
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Phong_MaTrangThai]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Phong_MaTrangThai] ON [dbo].[Phong]
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tai_Khoan_LoaiTaiKhoan]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tai_Khoan_LoaiTaiKhoan] ON [dbo].[Tai_Khoan]
(
	[LoaiTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tai_Khoan_PersonID]    Script Date: 7/26/2025 4:05:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tai_Khoan_PersonID] ON [dbo].[Tai_Khoan]
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_Phong] ADD  DEFAULT ((0)) FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FKHoa_Don624260] FOREIGN KEY([MaOrderPhong])
REFERENCES [dbo].[Order_Phong] ([MaOrderPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FKHoa_Don624260]
GO
ALTER TABLE [dbo].[Khach_Hang]  WITH CHECK ADD  CONSTRAINT [FKKhach_Hang279424] FOREIGN KEY([KhachHang_ID])
REFERENCES [dbo].[Person] ([PersonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Khach_Hang] CHECK CONSTRAINT [FKKhach_Hang279424]
GO
ALTER TABLE [dbo].[Nhan_Vien]  WITH CHECK ADD  CONSTRAINT [FKNhan_Vien605300] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[Person] ([PersonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nhan_Vien] CHECK CONSTRAINT [FKNhan_Vien605300]
GO
ALTER TABLE [dbo].[Nhan_Vien]  WITH CHECK ADD  CONSTRAINT [FKNhan_Vien799741] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[Vai_Tro] ([MaVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nhan_Vien] CHECK CONSTRAINT [FKNhan_Vien799741]
GO
ALTER TABLE [dbo].[Order_Phong]  WITH CHECK ADD  CONSTRAINT [FKOrder_Phon460975] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Phong] CHECK CONSTRAINT [FKOrder_Phon460975]
GO
ALTER TABLE [dbo].[Order_Phong]  WITH CHECK ADD  CONSTRAINT [FKOrder_Phon746646] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Phong] CHECK CONSTRAINT [FKOrder_Phon746646]
GO
ALTER TABLE [dbo].[Order_Phong_Dich_Vu]  WITH CHECK ADD  CONSTRAINT [FKOrder_Phon17642] FOREIGN KEY([MaOrderPhong])
REFERENCES [dbo].[Order_Phong] ([MaOrderPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Phong_Dich_Vu] CHECK CONSTRAINT [FKOrder_Phon17642]
GO
ALTER TABLE [dbo].[Order_Phong_Dich_Vu]  WITH CHECK ADD  CONSTRAINT [FKOrder_Phon597344] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[Dich_Vu] ([MaDichVu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Phong_Dich_Vu] CHECK CONSTRAINT [FKOrder_Phon597344]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FKPhong128242] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[Trang_Thai_Phong] ([MaTrangThai])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FKPhong128242]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FKPhong134689] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[Loai_Phong] ([MaLoaiPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FKPhong134689]
GO
ALTER TABLE [dbo].[Tai_Khoan]  WITH CHECK ADD  CONSTRAINT [FKTai_Khoan172310] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tai_Khoan] CHECK CONSTRAINT [FKTai_Khoan172310]
GO
ALTER TABLE [dbo].[Tai_Khoan]  WITH CHECK ADD  CONSTRAINT [FKTai_Khoan92928] FOREIGN KEY([LoaiTaiKhoan])
REFERENCES [dbo].[Loai_Tai_Khoan] ([MaLoaiTaiKhoan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tai_Khoan] CHECK CONSTRAINT [FKTai_Khoan92928]
GO
USE [master]
GO
